<div class="row">
	<!--<div class="col-md-3">-->
	<!--	<#%= render 'genre_serch_form', genres: @genres %>-->
 <!--   </div>-->
   <div class="col-md-8 offset-xs-1">
					   	<div class="example">
					      <%= image_tag(asset_path("IMG_4245.JPG"), class:"img-fluid") %>
					      <% if customer_signed_in? %>
					      <p>
					      	To everyone who enjoys fashion<br>

					      </p>
					      <% elsif admin_signed_in? %>
					      <p>管理者ページ</p>
					      <%else%>
					      <p1>
					      	ようこそ、LEVIRへ<br>
							このサイトは、服販売の<br>
							ECサイトになります。<br>
							購入には会員登録が必要になります。<br>
							  <br>
							  <br>
							  <br>
							  <br>
							  <br>
					      </p>
					      <%end%>
					   </div>

    <!--      <div class="recommend">-->
    <!--		<h2 class="title1">オススメ商品</h2>-->
    <!--		  <div class="card-group mb-3">-->
    <!--             <#% @products.each do |product| %>-->
			 <!--   	<div class="card col-3" >-->
				<!--	     <#%= link_to product_path(product) do %>-->
				<!--		  <#%= attachment_image_tag(product, :image,width: "100%", fallback: "no_image.jpg") %>-->
				<!--		  <div class="card-body">-->
				<!--			  <p><#%= product.name %></p>-->
				<!--			  <p>￥<#%= (product.price * 1.1).to_i.to_s(:delimited) %></p>-->
				<!--		  </div>-->
				<!--		<#% end %>-->
			 <!--        </div>-->
		  <!--       <#% end %>-->
    <!--	      </div>-->
		  <!--</div>-->
		<div class="index-link">
		  <%= link_to "商品を見る>", products_path,class: "nav-link text-dark" %>
	    </div>

<div class="row">
    <!--<div class="col-md-3">-->
    <!--    <#%= render 'genre_serch_form', genres: @genres %>-->
    <!--</div>-->
  	<div class="col-md-8 offset-sm-1">
    <div class="card-list-container py-5">
<div class="scroll-list jscroll">
  <% @products.each do |product| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
  <div class="slider">
    <%= link_to product_path(product) do %>
    <% product.product_images.each do |product_image| %>
    <%= attachment_image_tag product_image, :image, class:"card-img-top"; %>
    <% end %>
  </div>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <p class="card-title">
            <%= link_to(product_path(product), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= product.name %></span></strong>
            <% end %>
          </p>
          <p class="card-text">値段：<%= product.price %></p>
          <p class="card-text">説明：<%= product.explanation %></p>
   <% end %>

        </div>
      </div>
    </div>
  </div>
 </div>
 <%= paginate @products %>
          <!--<div class="flex-wrap mb-3 w-100">-->
          <!--    <#%= paginate @products %>-->
          <!--      <#% @products.each do |product| %>-->

          <!--          <div class="w-25">-->
          <!--              <div class="slider">-->
          <!--              <#%= link_to product_path(product) do %>-->
          <!--                  <#% product.product_images.each do |product_image| %>-->
          <!--                  <#%= attachment_image_tag(product_image, :image,size: "180x130", fallback: "no_image.jpg") %>-->
          <!--                  <#% end %>-->
          <!--              </div>-->
          <!--              <#% end %>-->


          <!--              <#%= link_to product.name, product_path(product),class: "nav-link text-dark" %><br>-->


          <!--          ￥<#%= (product.price * 1.1).to_i.to_s(:delimited) %>-->
          <!--          </div>-->
          <!--      <#% end %>-->
          <!--</div>-->
    </div>
</div>
  </div>
</div>


<script>
var jscrollOption = {
    loadingHtml: '読み込み中・・・',
    autoTrigger: true,
    padding: 20,
    contentSelector: '.jscroll'
};
$('.jscroll').jscroll(jscrollOption);
</script>