<div class="container">
  <div class="row">
    <div class="col-md-8 offset-xs-1">
      <div class="example">
        <%= image_tag(asset_path("IMG_4245.JPG"), class:"img-fluid") %>
        <% if customer_signed_in? %>
          <!--<p>-->
          <!--	To everyone who enjoys fashion<br>-->
          <!--</p>-->
        <% elsif admin_signed_in? %>
          <p>管理者ページ</p>
        <%else%>
          <!--<p>-->
          <!--	購入には会員登録が必要です。-->
          <!--  <br>-->
          <!--  <br>-->
          <!--  <br>-->
          <!--  <br>-->
          <!--  <br>-->
          <!--</p>-->
        <%end%>
      </div>
    </div>

  	<!--<div class="index-link">-->
  	<!--  <#%= link_to "商品を見る>", products_path,class: "nav-link text-dark" %>-->
   <!-- </div>-->
  </div>

  <div class="test-text row justify-content-center" >
    <div class="col-10" style="border: solid 5px #dc3545;background-color: #dc3545;">
      <p style="text-align: center;">
        2/16オンラインショップオープン<br>
        "主張しすぎない"デザインでオリジナルを<br>
        中心にファッションを展開予定<br>
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-9 col-md-12">
      <div class="card-deck">

        <div class="jscroll-tmp">
          <% @products.each do |product| %>
            <div class="card" style="margin-bottom: 50px;">
              <%= attachment_image_tag product.product_images.first, :image, class:"card-img-top" %>

              <div class="card-body">
                <p class="card-title">
                  <%= link_to(product_path(product), class:"text-dark") do %>
                    <strong><i class="far fa-flag"></i><span> <%= product.name %></span></strong>
                  <% end %>
                </p>
                <p class="card-text">Price：¥<%= product.price %></p>
              </div>
            </div>
          <% end %>
          <%= paginate @products %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>


<script>
$(function() {
  var jscrollOption = {
      loadingHtml: '読み込み中・・・',
      autoTrigger: true,
      padding: 80,
      nextSelector: '.pagination > span.next > a',
      contentSelector: '.jscroll-tmp'
  };
  $('.jscroll-tmp').jscroll(jscrollOption);
});
</script>

