<!--注文履歴一覧 -->
<div class="orders_back">
<div class="row">
	<div class="col-sm-12">
		<h3><strong>注文履歴一覧</strong></h3>
		<div class="table-responsive-sm">
		<table class="table table-bordered table-condensed">
		<tr>
			<th>注文日</th>
			<th nowrap>配送先</th>
			<th nowrap>注文商品</th>
			<th nowrap>支払料金</th>
			<th nowrap>ステータス</th>
			<th nowrap>注文詳細</th>
		</tr>
		<%= paginate @orders %>
		<% @orders.each do |order|%>
		<tr>
			<td nowrap><%= order.created_at.strftime('%Y/%m/%d') %></td>
			<td nowrap><%= order.post_code %>
				<%= order.address %>
				<%= order.name %>
			</td>
			<td nowrap>
				<% order.order_details.each do |order_detail| %>
				<%= order_detail.product.name %><br>
			<% end %>
			</td>
			<td nowrap><%= order.billing_amount.to_s(:delimited, delimiter: ',') %></td>
			<td nowrap><%= order.order_status %></td>
			<td nowrap><%= link_to "表示する", customers_order_path(order), class: "btn btn-primary" %></td>
		</tr>
		<% end %>
	</table>
	</div>
	</div>
</div>