
<!DOCTYPE html>
<html>
  <head>
    <title>LEVIR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
    <!--.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }-->
  </head>

  <body id = "wrapper">
    <div id = "header">
      <%= render "layouts/header" %>
    </div>
      <!--<div class="background">-->
      <!--</div>-->
        <div class="background-container">
          <%= yield %>
        </div>
    <%= render "layouts/footer" %>
  </body>
</html>
